# Logs
**/*.log

# Builds
coverage
lib
test/fixtures/lib
*.sublime-project
*.sublime-workspace

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
